.gallery {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: flex-start;
}

ul {
  all: unset;
  list-style-type: none;
}

section {
  width: 10rem;
}

article {
  margin-top: 3rem;
}

h2 {
  text-align: center;
}

.gallery-headline {
  margin-top: 1rem;
}
